* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #1c00f2, #453f96);
}
.chatbox_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  color: #fff;
}

.chatbox {
  background: #1d61c2;
  width: 80%;
  min-width: 400px;
  display: flex;
  overflow: hidden;
}

.chatbox .left_col {
  flex: 80%;
}

.chatbox .chatbox_msg {
  display: flex;
  align-items: center;
  margin: 40px;
}

.chatbox_msg .chatbox_msg_text {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 30px;
  flex-basis: 70%;
  border-radius: 8px;
  font-weight: 300;
}

.chatbox_msg .chatbox_msg_text h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.chatbox_msg .chatbox_msg_text p {
  font-size: 16px;
  opacity: 0.8;
  line-height: 1.4;
}

.chat_img {
  width: 50px;
  border-radius: 50px;
  margin: 0 20px;
}

.chatbox_msg:nth-child(even) {
  justify-content: flex-end;
}

input {
  width: 100%;
  background: #3874c9;
  padding: 20px 40px;
  border: none;
  outline: 0;

  color: #fff;
  font-weight: 300;
}

input::placeholder {
  color: #fff;
}

.chatbox .right_col {
  flex-basis: 250px;
  background: #3874c9;
}

.right_col h3 {
  text-align: center;
  font-weight: 300;
  margin-top: 40px;
}

.right_col ul {
  list-style: none;
  padding: 30px;
}

.right_col ul li {
  padding: 5px 0;
}

.right_col ul li::before {
  content: "";
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.right_col ul li.online::before {
  background-color: greenyellow;
}
.right_col ul li.offline::before {
  background-color: tomato;
}
.right_col ul li.busy::before {
  background-color: yellow;
}
