* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightblue;
}

.container {
  margin: 100px auto;
  height: 100%;
  width: 70%;
  background: grey;
  padding: 10px;
  border: 2px solid red;
  border-radius: 8px;
}

.display {
  width: 100%;
  height: 80px;
  color: #fff;
}

.numerical {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#equal {
  grid-column: span 2;
}

.numbers_btn {
  padding: 8px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  background: transparent;
  cursor: pointer;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
}

.green_btn {
    color: green;
}
